<!--
Author: Shibo Jin
Refrence: w3layouts
Refrence URL: https://w3layouts.com/template/kids-video-game-website-template/
Revised by: Shibo Jin
Team: CPEN391 Group 26
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>POP BOMB</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="POP BOMB Game Rules Web" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>

</head>
<body> 
<!-- banner -->
<div class="sub-banner">
		<!-- Navbar -->
		<nav class="navbar navbar-default">
			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a  href="index"><h1>POP <img src="images/bomb_icon_128x128.png" alt="bomb_icon"> BOMB</h1></a>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="hover-effect"><a href="index">Home</a></li>
						<li class="hover-effect active"><a href="about">Rules</a></li>
						<li class="hover-effect"><a href="games">Game</a></li>
						<li class="hover-effect"><a href="user">User</a></li>
					</ul>
				</div>

			</div>
		</nav>
</div>
<!-- banner -->

<!-- about-->
	<div class="about-agileinfo" id="about">
		<div class="container">
			<h2>Rules</h2>
			<div class="about-grids-w3-agileits">
				<div class="col-md-6 about-grid-left-agileits-w3layouts">
					<ul>
						<p>
							GAME: This project aims to create a player-versus-player bomb competition game. Prior to the start of the game, 
							the DE1-SoC will display a lobby code, which players can enter on the mobile app to join the session for that particular DE1-SoC. 
							The play area is composed of a 15x15 grid of square tiles. Player characters take up positions on single tiles and can move between 
							tiles during the game. Players compete by laying bombs on the tile they are currently on. Once placed on a tile, a bomb will explode 
							after a short duration, damaging players caught in the explosion radius. Different types of bombs will have different explosion 
							patterns (for instance, circular and cross patterns), creating a tactical gameplay element where players must select the bomb that is 
							best for their situation. Each player can only have one bomb on the field at a time, and can only place the next bomb after their 
							previous one detonates. Players start with a certain amount of 'health points' and lose one every time they are caught in a detonation. 
							Players who lose all their health points are knocked out of the round. The game is over once there is only one player remaining, who 
							is declared the winner. 
						</p>
				</div>
				<div class="col-md-6 about-grid-right-w3-agile">
					<div class="grid-w3ls">
						<img src="images/bomb_rules.png" alt=" " class="img-about">
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //about -->


<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="copyright">
			<p>&copy; POP BOMB Game. Designed by CPEN391 Group 26</a></p>
		</div>
	</div>
</div>
<!-- //footer -->
</body>
</html>