<!--
Author: Shibo Jin
Team: CPEN391 Group 26
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>POP BOMB</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="POP BOMB Game Control Web" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/control.css" rel="stylesheet" type="text/css" media="all" />

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
</head>
<body>
<!-- banner -->
<div class="sub-banner">
		<!-- Navbar -->
		<nav class="navbar navbar-default">
			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a  href="index.html"><h1>POP <img src="images/bomb_icon_128x128.png" alt="bomb_icon"> BOMB</h1></a>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="hover-effect"><a href="index.html">Home</a></li>
						<li class="hover-effect"><a href="about.html">About</a></li>
						<li class="hover-effect"><a href="games.html">Game</a></li>
						<li class="hover-effect"><a href="contact.html">User</a></li>
					</ul>
				</div>

			</div>
		</nav>
</div>
<!-- banner -->

<div id="page-view">
	<div class="content"></div>

		<div class="container1">
			<div class="center">
			<div class="buttons">
				<div class="container0">
					<img src="images/char1.png" alt="char1_yellow"/>
				</div>
				<button class="button up"><img src="./images/youjiantou-copy.png" alt=""/></button>
				<button class="button left"><img src="./images/youjiantou-copy-copy-copy.png" alt=""/></button>
				<button class="button right"><img src="./images/youjiantou.png" alt=""/></button>
				<button class="button down"><img src="./images/youjiantou-copy-copy.png" alt=""/></button>
				<button class="place"><img src="./images/Place.png" alt=""/></button>
				<button class="switch1">bombh</button>
				<button class="switch2">bomb</button>
				<button class="switch3">bombv</button>
			</div>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="copyright">
			<p>&copy; POP BOMB Game. Designed by CPEN391 Group 26</a></p>
		</div>
	</div>
</div>
<!-- //footer -->
</body>
</html>
